h1 {
  color: var(--text)
}

.iconBack {
  text-decoration: none;
  color: purple;
  transition: 0.2s;
}

.iconBack:hover {
  color:white;
}

.info {
  margin-top: 80px;
}

.info div {
  display: flex;
  align-items: center;
}